body{
  background-image: url(full-shot-travel-concept-with-landmarks.jpg);
  background-repeat: no-repeat;
  background-size: cover ;
  min-height: 100vh;
  background-position: center;
  background-color: azure;
}

.all{
  display: flex;
  flex-direction: column;
}

.bodyFone{
  background-color: azure;
  opacity: 0.7;
  display: flex;
  justify-content: center;
}

.bodyTwo{
 display: flex;
 justify-content: flex-end;
 font-family: 'Fuzzy Bubbles', cursive, initial;
opacity: 0.5;
}

.crossed{
  text-decoration: line-through 2px #B1AFFF ;
}

ul, li {
  list-style: none;
  font-size: 25px;
  color: #3F0071;
  background-color: #FDFDBD ;
  font-family: 'Fuzzy Bubbles', cursive;

}

.container{
  display: flex;
  justify-content: center;
  padding: 15px;
}

.containerTwo{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

input{
  font-size: 30px;
  width: 100%;
  text-align:center;
  font-family: 'Fuzzy Bubbles', cursive;
  opacity: 0.7;
}

input:hover{
  background-color: azure;
}

button{
  background-color: #00FFD1 ;
  padding: 15px;
  border: 2px solid #CDFCF6;
  font-size: 20px;
  opacity: 0.7;
  font-family: 'Fuzzy Bubbles', cursive;
}
button:hover{
  font-size: 25px;
 

}

h1 {
  font-family: 'Fuzzy Bubbles', cursive;
}

h3{
  margin-bottom: 5px;
  font-family: 'Fuzzy Bubbles', cursive;
}

.delete{
  margin-top: 160px;
}

.delete:hover{
  font-size: 15px;
}








